/* Color pallette */
:root{
  --dark-background: #1f2b38;
  --primary-color: #FFA500;
}

html{
  background-color: var(--dark-background);
}

.test-box{
  height: 400px;
  width: 400px;
  background-color: var(--primary-color);
}

.text-primary{
  color: var(--primary-color);
}

.bg-primary{
  background-color: var(--primary-color)
}

.bg-display{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.44);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}